
.footer {
    color: bisque;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5); /
}

/* Grid Layout for Large Screens */
.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px; 
}

/* Image Adjustments */
.img {
    height: 90px; 
    transform: translateY(-30px);
    margin-left: 10px;
}

/* Common Styles for Sections */
.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px; 
}

/* Paragraph and Social Icons */
.para {
    margin-bottom: 8px;
    transform: translateY(-20px);
    margin-left: 20px;
}

.footer-social-icons {
    transform: translateY(-20px);
    margin-left: 15px;
}

/* List Styling */
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-content-right h2,
.footer-content-center h2 {
    color: beige;
}


.fa {
    margin: 0 8px;
    font-size: 1.2rem; 
}

.tw {
    margin-left: 10px;
}

/* Footer Divider */
.footer hr {
    width: 100%;
    height: 2px;
    background-color: bisque; 
}

@media screen and (max-width: 1024px) {
    .footer-content {
        grid-template-columns: 1fr 1fr; 
        gap: 40px;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center; 
        text-align: center;
    }

    .img {
        height: 80px; 
        transform: translateY(-20px);
    }
}


@media screen and (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center;
    }

    .img {
        height: 70px;
        transform: translateY(0);
    }

    .footer-social-icons {
        margin: auto;
    }
}
